<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Athene" version="1.0.0" targetFramework="net472" />
  <package id="AtlasMod" version="1.0.0-rc-2" targetFramework="net472" />
  <package id="dnlib" version="3.3.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Synergize" version="0.1.0" targetFramework="net472" />
</packages>